*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color:#424141;
    padding: 12px;
    color:white;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}
.menus{
    display: flex;
    list-style: none;

}
.logo-photo{
    width: 100px;
    padding: 5px;
}
.items{
    margin-right:17px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}
.items:hover{
    color: aqua;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content:space-around;
    padding: 10px;
    /* margin-top: 40px; */
    align-items: center;
    height:100vh;
    color: white;
    background-image: url("./images/background.png"),linear-gradient(45deg,rgb(5, 5, 5),#2e2e2e);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    .title{
        font-size: 55px;
        font-weight: bold;
    }
    .description{
        font-size: 18px;
        margin-top: 15px;
        /* margin-bottom: 15px; */
    }
    .btn{
        margin-top: 20px;
    padding: 13px 20px;
    outline: none;
    background-color: red;
    border-radius: 3px;
    border: none;
    color: white;
    }
    .about-container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 25px;
        margin-top: 20px;
        
    }
    .about-title{
        text-align: center;
        padding-top: 20px;
    }
    .box{
        width: 200px;
        height: 280px;
        /* border: 1px solid gray; */
        padding: 15px;
        text-align: center;
        box-shadow: 4px  2px 105px gray;
        border-radius: 10px;
        background-color: black;
        color:white;
    }
   .icon{
    width: 70px;
    color: #2e2e2e;
   }
   .box-title{
    padding:10px;
}
   .box-btn{
    background-color: #1c1b1b;
    padding: 10px;
   }
   .service-container{
    background-image: url('./images/background.png'),linear-gradient(45deg,rgb(5, 5, 5), #2e2e2e);
    color: white;
    padding: 50px;
    flex-wrap: wrap;
   }
   .box-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}